$main-color: #2f3543;
$main-second-color: #0c64d4;
$main-title-color: #4a4a4a;
$main-active-color: #44d4ff;
$main-bg: #ffffff;
$docket-color: #3a6d69;
$promo-bg: hsl(100, 0, 0);
$promo-arrow-color: hsl(0, 0, 35);
$about-item-bg: hsl(0, 0, 95);
$tablet-width: 768px;
$desktop-width: 1024px;
