$main-color: #2f3543;
$main-second-color: #005093;
$main-title-color: #4a4a4a;
$main-active-color: #44d4ff;
$main-bg: #ffffff;
$link-hover-color: #167aff;
$offer-hover-color: #ffffff;
$docket-color: #3a6d69;
$active-link-color: #0c64d4;
$tablet-width: 768px;
$desktop-width: 1024px;
