@import "../variables.scss";

.primary-list {
  //

  &__item {
    margin-right: 0;
    letter-spacing: 0.5px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    font-weight: 400;
    line-height: 1;
    font-family: "Proxima Nova Light", "Geneva", sans-serif;
    color: $main-second-color;
    text-transform: uppercase;

    &:hover,
    &:focus {
      border: none;
      text-decoration: underline;
    }
  }
}

@media (min-width: $desktop-width) {
  .primary-list {
    margin-bottom: 10px;

    &__item {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      font-size: 12px;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
