@import "../variables.scss";

.roll {
  //

  &__item {
    //border-bottom: 1px solid lighten($main-title-color, 55%);
  }

  &__link {
    display: flex;
    width: 100%;
    padding: 15px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    font-family: "Proxima Nova Light", "Geneva", sans-serif;
    color: $main-color;
    border-bottom: 1px solid lighten($main-active-color, 30%);

    &--offer {
      color: $active-link-color;
      fill: $active-link-color;
    }

    &:hover {
      color: $active-link-color;
    }
  }

  &__icon {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .roll {
    //
  }
}

@media (min-width: $desktop-width) {
  .roll {
    padding: 10px 0;

    &--one-of-three .roll__item {
      width: 32%;
      margin-right: 1%;
    }

    &--one-of-two .roll__item {
      width: 45%;
      margin-right: 1%;

      //&:nth-of-type(2n+2) {
      //  margin-right: 32%;
      //}
    }

    &--one-of-three .roll__item--more,
    .roll__item--more {
      width: 100%;
      margin-right: 0;
      padding-left: 0;
    }

    &--highlight {
      padding: 10px 30px;
      background-color: lighten($main-active-color, 35%);
    }

    &--highlight .roll__item:last-child {
      margin-bottom: 0;
    }

    &__item {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
      padding-left: 20px;
      fill: $main-second-color;

      &--more .roll__link {
        position: relative;
        padding-right: 30px;
        font-size: 18px;
        color: $main-second-color;
        fill: $main-second-color;
        border-bottom: none;
        overflow: hidden;

        &:hover {
          color: $link-hover-color;
          fill: $link-hover-color;
        }
      }
    }

    &__link {
      display: inline;
      padding: 0;

      //&--more {
      //  font-weight: 400;
      //  color: $main-second-color;
      //}
    }

    &__icon {
      position: absolute;
      display: flex;

      &--promotion {
        width: 14px;
        height: 14px;
        top: 8px;
        left: 0;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }
}
