@import "../variables.scss";

.secondary-list {
  position: relative;
  background-color: $main-bg;

  //&__item {
  //  &--nesting .secondary-list__link {
  //    background: url("../img/icon-menu-more.svg") 100% 50% no-repeat;
  //    background-size: 20px;
  //  }
  //}

  &__block {
    position: fixed;
    top: 0;
    left: 30px;
    display: flex;//flex
    flex-wrap: wrap;
    width: 220px;
    padding: 0;
    background-color: $main-bg;
    z-index: 4;

    &--close {
      display: none;
    }
  }

  &__wrapper {
    height: calc(100vh - 1px);
    padding: 20px 15px 0;
    overflow-y: scroll;
  }

  &__back {
    position: relative;
    display: flex;
    width: 32px;
    height: 32px;
    padding: 0;
    background: url("../img/icon-menu-more.svg") center center no-repeat;
    background-size: 22px;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__unit {
    display: flex;
    flex-direction: column;
  }

  &__unit-header {
    margin: 10px 0;
    padding-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    font-family: "PT Sans Regular", "Arial Black", sans-serif;
    border-bottom: 2px solid $main-title-color;
  }

  &__roll {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    position: relative;
    font-weight: 400;

    &--nesting::after {
      content: "";
      position: absolute;
      top: 15px;
      right: 20px;
      display: block;
      width: 16px;
      height: 16px;
      background: url("../img/icon-menu-more.svg") 0 0 no-repeat;
    }

    &:hover {
      border: none;
    }
  }
}


@media (min-width: $tablet-width) {
  .secondary-list {
    //
  }
}

@media (min-width: $desktop-width) {
  .secondary-list {
    display: flex;
    flex-wrap: nowrap;
    min-width: 1050px;

    &__item {
      //position: relative;
      flex-grow: 1;

      &:hover .secondary-list__block {
        visibility: visible;
      }
    }

    &__block {
      position: absolute;
      top: 50px;
      left: 0;
      right: 0;
      width: 100vw;
      padding: 0;
      visibility: hidden;

      &--close {
        display: flex;
      }
    }

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100vw;
      height: auto;
      padding: 45px;
      border: 5px solid $main-bg;
      border-top: 0;
      background: darken($main-bg, 2%); //подобрать цвета
      box-shadow: 0 2px 22px 0 rgba($main-color, 0.11), 0 4px 5px 0 rgba($main-color, 0.22);
      overflow: visible;
    }

    &__back {
      display: none;
    }

    &__row {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      overflow: auto;
    }

    &__unit {
      display: flex;
      flex-grow: 1;
      min-width: 190px;
      margin-right: 50px;

      &:last-child {
        margin-right: 0;
      }

      &--decrease {
        flex-grow: 0;
      }
    }

    &__link {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 10px;
      font-weight: 400;
      font-size: 18px;
      line-height: 1;
      font-family: "Proxima Nova Light", "Geneva", sans-serif;
      color: $main-color;
      text-transform: none;

      &--nesting::after {
        top: 50%;
        right: 0;
        width: 8px;
        height: 8px;
        margin-top: -4px;
        transform: rotate(90deg);
      }
    }

    &__roll {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
